body {
    background-color: #141519;
    color: #fbfefe;
    font-family: calibri;
}

.contentBox {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.container {
    width: 100%;
}

.style-box {
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #19202a;
    /* color: #fbfefe; */
    max-width: 390px;
    border-radius: 20px;
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.staricon {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #262f38;
    text-align: center;
}

.staricon .image {
    padding-top: 10px;
    vertical-align: -webkit-baseline-middle;
}

.h1 {
    padding-bottom: 0px;
    margin: 0;
}

.paragraph {
    padding-top: 10px;
    color: #747b85;
}

.radioButton {
    padding-top: 20px;
    text-align: center;
}

.radioButton label {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    padding: 10px;
    border-radius: 120px;
    border: none;
    background-color: #262f38;
}

.radioButton label:hover {
    background-color: #fc7613;
    cursor: pointer;
}

.radioButton input[type="radio"] {
    display: none;
}

.radioButton input[type="radio"]:checked + label {
    background-color: #7c8898;
    border: none;
}

.radioButton input[type="radio"]:checked + label:hover {
    background-color: #fc7613;
}

.submitButton {
    width: 90%;
    height: 40px;
    background-color: #fc7613;
    color: #fbfefe;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
}

.submitButton:hover{
    cursor: pointer;
    color: #fc7613;
    background-color: #fbfefe;
}

.attribution { 
    padding-top: 20px;
    font-size: 11px; 
    position: relative;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}